body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  #map {
    height: 400px;
    margin-bottom: 20px;
  }
  
  #searchForm {
    margin-bottom: 20px;
  }
  
  #searchInput {
    padding: 10px;
    width: 200px;
    font-size: 16px;
  }
  
  #searchButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #restaurantsList {
    list-style-type: none;
    padding: 0;
  }
  
  .restaurantItem {
    margin-bottom: 10px;
  }  